## Q1

In [1]:
all_list = ['Delhi', [1, 2, 2, 4], 23.45, (1, 5, 7)]

In [4]:
# print(type(all_list))
print(all_list)

['Delhi', [1, 2, 2, 4], 23.45, (1, 5, 7)]

### Q2

In [6]:
var1 = ''
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

### Q3

/ is a division operator used to divide two numbers.

In [9]:
print(2/5)

0.4

% is a modulo operator which gives us remainder, for division of two numbers.

In [10]:
print(5%3)

2

// is a floor division operator, it basically depends upon the arguments passed, if the argument is of float type it will result in floor or if the argument is of integer type it will result in integer.

In [11]:
print(5//2)

2

In [14]:
print(5.6//2.5)

2.0

** is exponentiation operator it basically returns  x^y as x ** y

In [15]:
print(2**3)

8

### Q4

In [16]:
list_2 = ['Kolkata', 1, 2, 2, 4, {'India': 'New Delhi', 'USA':'Washington DC', 'South Korea':'Seoul'}, ('TATA', 'Honda' 'Suzuki'), 34.55, 2+8j, 8j]

In [19]:
for i in list_2:
    print(i, type(i))

Kolkata <class 'str'>
1 <class 'int'>
2 <class 'int'>
2 <class 'int'>
4 <class 'int'>
{'India': 'New Delhi', 'USA': 'Washington DC', 'South Korea': 'Seoul'} <class 'dict'>
('TATA', 'HondaSuzuki') <class 'tuple'>
34.55 <class 'float'>
(2+8j) <class 'complex'>
8j <class 'complex'>

### Q5

In [11]:
number = 24
count = 0
while number>0 and number%2 == 0:
    count += 1
    number = number/2
print(count)

3

### Q6

In [3]:
list = [12, 2, 32, 31, 32, 35, 56, 67, 45, 55, 78, 65, 21, 32, 42, 51, 50, 90, 39, 40, 49, 55, 71, 72, 75]

for i in list:
    if i%3 == 0:
        print('Divisible by 3')
    else:
        print('Not devisible by 3')

Divisible by 3
Not devisible by 3
Not devisible by 3
Not devisible by 3
Not devisible by 3
Not devisible by 3
Not devisible by 3
Not devisible by 3
Divisible by 3
Not devisible by 3
Divisible by 3
Not devisible by 3
Divisible by 3
Not devisible by 3
Divisible by 3
Divisible by 3
Not devisible by 3
Divisible by 3
Divisible by 3
Not devisible by 3
Not devisible by 3
Not devisible by 3
Not devisible by 3
Divisible by 3
Divisible by 3

### Q7

A datatype which allows the programmer to change its values is knows as ***mutable*** datatype. On the other hand if a datatype does not allows to change its values is knows as ***immutable*** datatype. Below are the examples.

In [9]:
number_1 = 2
print(number_1)
# here we have assignes variable number_1 as one but we can change its values at any time later
number_1 = 70
print(number_1)
# which means this is mutable datatype

string_2 = 'Moving'
print(string_2)
print(string_2[0])
string_2[0] = 'L' # this will throws an error as we cannot change the string by using index once declared

2
70
Moving
M

TypeError: 'str' object does not support item assignment